/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-jul-2014, 0:22:58
    Author     : NAIROBYALBARRAN
*/


/*-------------------------------------------------------*/
/* 1. Progress bar section
/*-------------------------------------------------------*/

.skills-wrap .container {
    padding: 70px 0;
}

/* Multi color progress  */

.skillbar {
    position:relative;
    display:block;
    margin-bottom:10px;
    width:100%;
    background:#eee;
    height:25px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:95px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:25px;
    line-height:25px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:25px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:25px;
    line-height:25px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}

#perfil{
    margin-bottom: 0;
}

#descripcionPortfolio, #contacto{
    border-bottom:5px solid #999;
    margin-bottom: 15px;
}

img{
    height: 390px;
    width: 230px;
}

#linkedin, #github, #envelope{
    height: 48px;
    width: 48px;
}
#phone{
    height: 35px;
    width: 35px;
}


.aplicaciones{

    margin-bottom: 20px;
}

.descripcion{
    background: #E8E8E8;
    height: 380px;
    margin-bottom: 20px;
}

.detalleApp1{
    background: #E8E8E8;
}

.hidden {
    display: none;
}

#redesSociales{
    margin-top: 35px;
}